.block-social-feed-mixed ul {
  padding: 10px;
  list-style: none;
  margin: 0;
  color: #333;
}

.block-social-feed-mixed ul li {
  clear: both;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px 0px #c2c2c2;
  padding: 0 10px;
  margin: 10px 0;
}

.social-feeds-list .fa {
  font-size: 21px;
  vertical-align: top;
  margin: 0 5px;
}

.social-feeds-list .fa-twitter {
  color: #55acee;
}

.social-feeds-list .fa-facebook {
  color: #3b5998;
}

.block-social-feed-mixed .feed-content {
  clear: both;
  overflow: hidden;
  padding: 10px 23px 10px 3px;
  position: relative;
}

.block-social-feed-mixed .feed-text {
  clear: both;
}

.block-social-feed-mixed .feed-user-link {
  float: left;
}

.block-social-feed-mixed .feed-user-name {
  float: left;
}

.social-feeds-list .feed-read-more-link a {
  display: block;
  width: 20px;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}

.block-social-feed-mixed .feed-ago {
  float: right;
}

.block-social-feed-mixed .feed-media {
  max-width: 100%;
  width: 80px;
  float: left;
  height: auto;
  margin: 5px 5px 3px 0;
}

.social-feeds-list {
  padding: 10px;
  margin: 5px 0;
  list-style: none;
}

.social-feeds-list .feed-content {
  position: relative;
}

.social-feeds-list .feed-ago {
  position: absolute;
  top: 5px;
  right: 5px;
}
